<div id="panelEncabezado_SummaryPrices">
    <div class="hide">
        <input type="text" id="pricesummary_txtpar" value="DATA-PARAMETRO" />
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12 m-b">
            <div class="text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="fa fa-reply-all"></span>
                    Return
                </button>
                <button type="button" class="btn btn-primary" id="btnSummaryPricesExport">
                    <span class="fa fa-file-excel-o"></span>
                    Export
                </button>
            </div>
            <hr />
        </div>
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered table-vertical-center" id="tbl_prices_summary">
                <thead>
                    <tr>
                        <th>Flash Type</th>
                        <th>Created Date</th>
                        <th>Leader</th>
                        <th>WTS Style Code</th>
                        <th>Client Style Number</th>
                        <th>Qty Fabric</th>
                        <th>Qty Color</th>
                        <th>Qty Style</th>
                        <th>WTS Fabric Code</th>
                        <th>Fabric Desription</th>
                        <th>Price Factory FOB</th>
                        <th>Total Cost WTS</th>
                        <th>Price WTS DDP</th>
                        <th>Adjustement</th>
                    </tr>
                </thead>
                <tbody id="tbody_tbl_prices_summary"></tbody>
            </table>
        </div>
    </div>
</div>