<div id="pnl_clientepersonal_inicio">
    <div class="hide">
        <input type="text" id="txtpar" value="DATA-PARAMETRO" />
    </div>

    <div id="pnl_clientepersonal_inicio_header" class="row wrapper white-bg page-heading">
        <div class="ibox">
            <div id="div_titulo_principal" class="col-sm-6">
                <h2 class="font-bold">Client by Personal</h2>
            </div>
        </div>
    </div>

    <div id="pnl_clientepersonal_inicio_body" class="row wrapper-content gray-bg animated">

        <div id="content_form" class="ibox">
            <div class="ibox-title">
                <div class="form-horizontal row ">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-navy bold">List</h3>
                    </div>
                    <div id="div_botones_principal" class="col-sm-6 text-right">
                        <button id="btn_guardar" title="Nuevo" type="button" class="btn btn-outline btn-primary">
                            <span class="fa fa-save"></span>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">

                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Comercial Team</label>
                            <div class="col-sm-9">
                                <select id="cbo_grupopersonal" class="form-control _enty" data-id="idgrupopersonal" style="width:100%"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div id="id_rad_personal" class='i-checks _radbtn'>
                            <div class='iradio_square-green' style='position: relative;'>
                                <label>
                                    <input id="personal" value='1' name='radiobutton' type='radio' class='i-checks _radbtn' style='position: absolute; opacity: 0;'>
                                    <ins class='iCheck-helper' style='position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(28, 132, 198); border: 0px; opacity: 0;'></ins>
                                </label>
                            </div>
                            <label class="_rad"> Personal </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div id="id_rad_cliente" class='i-checks _radbtn'>
                            <div class='iradio_square-green' style='position: relative;'>
                                <label>
                                    <input id="cliente" value='2' name='radiobutton' type='radio' class='i-checks _radbtn' style='position: absolute; opacity: 0;'>
                                    <ins class='iCheck-helper' style='position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(28, 132, 198); border: 0px; opacity: 0;'></ins>
                                </label>
                            </div>
                            <label class="_rad"> Client </label>
                        </div>
                    </div>
                  
                </div>
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Personal:</label>
                            <div class="col-sm-9">
                                <select id="cbo_personal" class="form-control _enty" data-id="idpersonal" data-required="true" style="width:100%"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Client:</label>
                            <div class="col-sm-9">
                                <select id="cbo_cliente" disabled class="form-control _enty" data-id="idcliente" data-required="true" style="width:100%"></select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="div_personal" class="ibox hide">
            <div class="ibox-content">               
                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_detalle_clientepersonal" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-2 text-center' data-sort-ignore="true">Management</th>
                                                <th class='col-sm-8 text-center' data-sort-ignore="true">Client</th>
                                                <th class='col-sm-2 text-center' data-sort-ignore="true">For Development</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="div_cliente" class="ibox hide">
            <div class="ibox-content">
                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_detalle_personalcliente" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-2 text-center' data-sort-ignore="true">Management</th>
                                                <th class='col-sm-8 text-center' data-sort-ignore="true">Personal</th>
                                                <th class='col-sm-2 text-center' title="be in copy in development emails (Style and Requeriment modules)" data-sort-ignore="true">For Development</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>