<div class="ibox float-e-margins" id="panelEncabezadoLeadTimeTerminar">
    <div class="ibox-title">
        <div class="ibox-tools">
            <button id="btnTerminarProceso" class="btn btn-primary">
                <span class="fa fa-check"></span>
                Terminar
            </button>
            <button class="btn btn-default" data-dismiss="modal">
                <span class="fa fa-ban"></span>
                Cancelar
            </button>
        </div>
    </div>
    <div class="ibox-content wrapper wrapper-content gray-bg" style="overflow-y: auto; max-height: 850px;">
        <div class="hide">
            <input type="text" id="txtparametro" value="DATA-PARAMETRO" />
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-1">Observación</label>
                        <div class="col-sm-12">
                            <textarea id="txtObservacionLeadTime" class="form-control _enty" style="resize: none;" data-min="1" data-ng-max="8000" data-required="false"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>