<div class="ibox float-e-margins" id="panelEncabezado_buscarestilo">
    <div class="ibox-title">
        <div class="ibox-tools">
            <button id="_btnAceptar_estilo" href="javascript:void(0)" class="btn btn-primary">
                <span class="fa fa-check-circle"></span>
                Accept
            </button>
            <button id="_btnCancelar_estilo" href="javascript:void(0)" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>
    @*ibox-content wrapper wrapper-content gray-bg*@
    <div class="" style="overflow-y: auto; max-height: 850px;">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div id="div_tbl_buscartela" style="max-height:400px; overflow-y:auto;">
                        <table class="table table-bordered table-hover" id="_tbl_tela_buscar">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Style Code</th>
                                    <th>Style Description</th>
                                    <th>Fabric Code</th>
                                    <th>Fabric Description</th>
                                    <th>Family</th>
                                    <th>Version</th>
                                    <th>Main</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th><input type="text" placeholder="Search style code" id="_txtfiltercodigoestilo" class="form-control _clsfilter" data-field="codigoestilo" /></th>
                                    <th><input type="text" placeholder="Search style description" id="_txtfilterdescripcionestilo" class="form-control _clsfilter" data-field="descripcion_estilo" /></th>
                                    <th><input type="text" placeholder="Search fabric code" id="_txtfiltercodigotela" class="form-control _clsfilter" data-field="codigotela" /></th>
                                    <th><input type="text" placeholder="Search fabric description" id="_txtfilterdescripciontela" class="form-control _clsfilter" data-field="nombretela" /></th>
                                    <th><input type="text" placeholder="Search family" id="_txtfilterfamilia_estilo" class="form-control _clsfilter" data-field="nombrefamilia" /></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_estilo_buscar"></tbody>
                        </table>
                    </div>
                    <div class="text-center" id="foot_paginacion_estilo">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>