<div class="ibox float-e-margins" id="panelEncabezado_ReporteResumenLabdip">


    <div class="ibox">

        <div class="hide">
            <input type="text" id="txtpar_labdipdetail" value="DATA-PARAMETRO" />
        </div>

        <div class="ibox-title">
            <div class="form-horizontal row ">
                <div id="divbotonesprimarios" class="col-sm-9">                   
                        <label class="control-label col-sm-3">Color: </label>                       
                        <div class="col-sm-9 text-center">
                            <label id="txt_color" class="control-label col-sm-9 text-success"></label>
                        </div>                    
                </div>
                <div id="divbotonesprimarios" class="col-sm-3 text-right">
                    <button id="btn_return" class="btn btn-default" data-dismiss="modal">
                        <span class="fa fa-reply-all"></span>
                        Return
                    </button>
                </div>
            </div>
        </div>

        <div class="ibox-content" id="formulario">

            <div class="form-group">

                <div class="form-horizontal row">
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Type</label>
                        <input id="txt_tipo" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Standard</label>
                        <input id="txt_standard" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Approved By</label>
                        <input id="txt_aprobadopor" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>                   
                </div>

                <div class="form-horizontal row">
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Code Dyeing House</label>
                        <input id="txt_codigotintoreria" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Alternative</label>
                        <input id="txt_alternativa" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label input-sm m-b-xs">Comment</label>
                        <input id="txt_comentario" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                </div>


                <div class="form-horizontal row">
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Solidez Luz</label>
                        <input id="txt_luz" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Solidez Frote Seco</label>
                        <input id="txt_seco" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Solidez Frote Humedo</label>
                        <input id="txt_humedo" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                </div>
                
                <div class="form-horizontal row">
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Season</label>
                        <input id="txt_temporada" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Cliente</label>
                        <input id="txt_cliente" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                   
                    <div class="col-sm-6">
                        <label class="control-label input-sm m-b-xs">Dyeing House</label>
                        <input id="txt_tintoreria" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                   
                    @*<div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Approved By</label>
                        <input id="txt_aprobadopor" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>*@
                </div>

                <div class="form-horizontal row">
                    <div class="col-sm-3">
                        <label class="control-label input-sm m-b-xs">Fabric Code</label>
                        <input id="txt_codefabric" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                    <div class="col-sm-9">
                        <label class="control-label input-sm m-b-xs">Fabric</label>
                        <input id="txt_fabric" disabled type="text" class="form-control input-sm m-b-xs _enty">
                    </div>
                </div>
            </div>

        

        </div>

    </div>

    <div class="ibox">
        <div class="ibox-content" style="overflow-y: auto; max-height: 200px;">
        @*<div class="ibox-content" >*@
            <div id="tablageneral" class="form-group">
                <div class='form-horizontal row'>
                    <div class='col-sm-12'>
                        <div id='tablecontaintlabdipdetailstempo'>

                        </div>
                    </div>
                </div>
            </div>
            @*<div class="form-horizontal row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div id="tablecontaintlabdipdetailstempo" class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
    </div>

</div>

