<div id="panelEncabezado_Mail">
    <div class="hide">
        <input type="text" id="txtpar_mail" value="DATA-PARAMETRO" />
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12">
            <div class="pull-left mail-search">
                <div class="input-group">
                    <input type="text" class="form-control" id="txtMailboxSearch" name="search" placeholder="Search email">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" id="btnMailboxSearch" data-toggle="tooltip" data-placement="left" title="Search only for subject">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="fa fa-reply-all"></span>
                    Return
                </button>
                <button type="button" class="btn btn-primary" id="btnMailAdd">
                    <span class="fa fa-plus"></span>
                    Add
                </button>
            </div>
            <hr />
        </div>
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-3">
            <div class="feed-activity-list" id="mail_header"></div>
        </div>
        <div class="col-sm-9">
            <div class="row mail-border-left">
                <div class="col-sm-12">
                    <div class="feed-activity-body" id="mail_body"></div>
                </div>
            </div>
        </div>
    </div>
</div>