<style type="text/css">
    /* 1 */
    .row-selected {
        background-color: #1ab394 !important;
    }

    th {
        /*white-space: nowrap;*/
        padding: 8px;
        border: 1px solid #e7e7e7;
        /*background-color: #F5F5F6;*/
        text-align: center;
        background: #206590 !important;
        color: white;
    }

    td {
        /*white-space: nowrap;*/
        padding: 5px;
        border-bottom: 1px solid #e7e7e7;
        padding-left: 20px;
    }
</style>

<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }

    #chartdiv2 {
        width: 100%;
        height: 500px;
    }

    .amcharts-export-menu-top-right {
        top: 10px;
        right: 0;
    }
</style>

<div id="pnl_solicitud_program">

    <div id="pnl_solicitud_program_header" class="row wrapper white-bg page-heading">
        <div class="ibox">
            <div class="col-sm-6">
                <h2 class="font-bold">Servicios de Courier</h2>
            </div>
            <div id="div_botones_header_solicitud_list" class="col-sm-6 text-right" style="padding-top:1%">
                @*<button id="btn_search" title="Buscar" type="button" class="btn btn-outline btn-info">
                    <span class="fa fa-search"></span>
                    Buscar
                </button>
                <button id="btn_return" type="button" class="btn btn-outline btn-default">
                    <span class="fa fa-reply-all"></span>
                    Regresar
                </button>*@
            </div>
        </div>
    </div>

    <div id="pnl_solicitud_program_body" class="row wrapper-content gray-bg animated">

        <div id="div_form_filter" class="ibox">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Lista de Solicitudes</h3>
                    </div>
                    <div  class="col-sm-6 text-right">
                        <button id="btn_search" title="Buscar" type="button" class="btn btn-outline btn-info">
                            <span class="fa fa-search"></span>
                            Buscar
                        </button>
                        <button id="btn_return" type="button" class="btn btn-outline btn-default">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>                       
                    </div>
                </div>
            </div>

            <div id="div_items_busqueda" class="ibox-content">

                <div class="form-horizontal row">                    
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Movilidad:</label>
                            <div class="col-sm-9">
                                <select id="cbo_vehiculo" class="form-control _select2 _enty" data-id="idvehiculo" data-required="true" style="width:100%"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Desde:</label>
                            <div id="div_fecha_desde" class="col-sm-9">
                                <div class='input-group date'>
                                    <input id="txt_fecha_desde" type='text' disabled class='form-control input-sm m-b-xs _enty' data-type="date" data-id="fechadesde" data-min="10" data-max="10">
                                    <div id="div_calendario_desde" class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Hasta:</label>
                            <div id="div_fecha_hasta" class="col-sm-9">
                                <div class='input-group date'>
                                    <input id="txt_fecha_hasta" type='text' disabled class='form-control input-sm m-b-xs _enty' data-type="date" data-id="fechahasta" data-min="10" data-max="10">
                                    <div id="div_calendario_hasta" class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>

        <div id="div_form_data" class="ibox">

            <div class="ibox-title">
                <div class="form-horizontal row">                   
                    <div class="col-sm-12 text-right">
                        <button id="btn_cambiar_vehiculo" class="btn btn-outline btn-primary">
                            <span class="fa fa-arrows-alt"></span>
                            Mover
                        </button>
                        <button id="btn_cancelar" class="btn btn-outline btn-danger">
                            <span class="fa fa-power-off"></span>
                            Cancelar
                        </button>
                        <button id="btn_reprogramar" class="btn btn-outline btn-primary">
                            <span class="fa fa-refresh"></span>
                            Reprogramar
                        </button>
                        <button id="btn_terminar" class="btn btn-outline btn-success">
                            <span class="fa fa-save"></span>
                            Terminar
                        </button>
                        <button id="btn_eliminar" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">
                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control input-sm m-b-xs" id="buscador" placeholder="Buscador">
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_solicitud" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true"></th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-2 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>       
       
        <div id="div_form_cambiar_vehiculo" class="ibox hide">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Cambiar Vehiculo</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btn_cambiar_vehiculo_accion" class="btn btn-outline btn-primary">
                            <span class="fa fa-arrows-alt"></span>
                            Mover
                        </button>
                        <button type="button" class="btn btn-outline btn-default _retroceder_accion">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-4">
                            <label class="control-label">Movilidad:</label>
                            <select id="cbo_vehiculo_cambiar" class="form-control _select2 _enty" data-id="idvehiculo" data-required="true" style="width:100%"></select>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_cambiar_vehiculo" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-4 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="div_form_cancelar_solicitud" class="ibox hide">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Cancelar Solicitud</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btn_cancelar_accion" class="btn btn-outline btn-danger">
                            <span class="fa fa-power-off"></span>
                            Cancelar
                        </button>
                        <button type="button" class="btn btn-outline btn-default _retroceder_accion">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-12">
                            <label class="control-label">Motivo:</label>
                            <input id="txt_motivo_accion" type="text"data-id="motivo" placeholder="Motivo de cancelación" class="form-control input-sm m-b-xs _enty" data-required="true" />
                        </div>
                    </div>
                </div>               

                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div id="div_tabla_solicitud_list" class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_cancelar_solicitud" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-4 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="div_form_reprogramar_solicitud" class="ibox hide">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Reprogramar</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btn_reprogramar_accion" class="btn btn-outline btn-primary">
                            <span class="fa fa-refresh"></span>
                            Reprogramar
                        </button>
                        <button type="button" class="btn btn-outline btn-default _retroceder_accion">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-4">
                            <label class="control-label">Movilidad:</label>
                            <select id="cbo_vehiculo_reprogramar" class="form-control _select2 _enty" data-id="idvehiculo" data-required="true" style="width:100%"></select>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Turno:</label>
                            <select id="cbo_turno_reprogramar" class="form-control _select2 _enty" data-id="idturno" data-required="true" style="width:100%"></select>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Hora:</label>
                            <select id="cbo_hora_reprogramar" class="form-control _select2 _enty" data-id="idhora" data-required="true" style="width:100%"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-4">
                            <label class="control-label">Fecha:</label>
                            <div id="div_fecha_reprogramar">
                                <div class='input-group date'>
                                    <input id="txt_fecha_reprogramar" type='text' disabled class='form-control input-sm m-b-xs _enty' data-id="fecha" data-required="true" data-type="date" data-min="10" data-max="10">
                                    <div id="div_calendario_reprogramar" class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_reprogramar_solicitud" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-4 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="div_form_terminar_solicitud" class="ibox hide">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Terminar</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btn_terminar_accion" class="btn btn-outline btn-success">
                            <span class="fa fa-save"></span>
                            Terminar
                        </button>
                        <button type="button" class="btn btn-outline btn-default _retroceder_accion">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-4">
                            <label class="control-label">Receptor:</label>
                            <input id="txt_receptor_terminar" type="text" data-id="nombre" placeholder="" class="form-control input-sm m-b-xs _enty" />
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Documento Receptor:</label>
                            <input id="txt_receptor_terminar" type="text" data-id="nombre" placeholder="" class="form-control input-sm m-b-xs _enty" />
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Tiempo Espera:</label>
                            <input id="txt_tiempo_terminar" type="text" data-id="tiempoespera" placeholder="" class="form-control input-sm m-b-xs _enty" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-horizontal row">
                        <div class="col-sm-12">
                            <label class="control-label">Observacion:</label>
                            <input id="txt_observacion_terminar" type="text" data-id="observacion" placeholder="" class="form-control input-sm m-b-xs _enty" data-required="true" />
                        </div>
                    </div>
                </div>               

                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_terminar_solicitud" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-4 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="div_form_eliminar_solicitud" class="ibox hide">

            <div class="ibox-title">
                <div class="form-horizontal row">
                    <div class="col-sm-6">
                        <h3 id="_title" class="text-success bold">Eliminar</h3>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button id="btn_eliminar_accion" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                            Eliminar
                        </button>
                        <button type="button" class="btn btn-outline btn-default _retroceder_accion">
                            <span class="fa fa-reply-all"></span>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="ibox-content">
                <div class="form-horizontal row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="tbl_eliminar_solicitud" class="footable table table-striped table-bordered table-hover" data-page-size="20" data-filter=#buscador>
                                        <thead>
                                            <tr>
                                                <th class='col-sm-4 text-center' data-sort-ignore="true">Destino</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Fecha</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Servicio</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Turno</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Hora</th>
                                                <th class='col-sm-3 text-center' data-sort-ignore="true">Enviado Por</th>
                                                <th class='col-sm-1 text-center' data-sort-ignore="true">Movilidad</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
  
