<div class="ibox" id="panelEncabezado_PlannerIndex">
    <div class="hide">
        <input type="text" id="txtpar" value="DATA-PARAMETRO" />
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2 class="font-bold">Planner</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-home"></i>
                </li>
                <li class="breadcrumb-item">
                    Planner
                </li>
                <li class="breadcrumb-item active">
                    <strong>Index</strong>
                </li>
            </ol>
        </div>

        <div class="col-lg-4 text-right" style="padding-top: 30px">
            <div class="col-sm-12">
                <input type="text" class="form-control _enty hide" value="" id="txtruta" readonly="readonly" data-required="true" data-min="5" data-max="200" />
                <label class="col-xs-12 col-sm-5 btn btn-warning btn-sm col-sm-offset-2">
                    <input type="file" id="fuArchivo" class="hide">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    Upload
                </label>
            </div>
        </div>
    </div>
    <div class="hide">
        <button type="button" class="btn btn-primary start hide" id="btnUpload">
            <i class="fa fa-upload" aria-hidden="true"></i>
            <span>upload</span>
        </button>
    </div>

</div>