<div id="panelEncabezado_Search">
    <div class="hide">
        <input type="text" id="modal_txtpar" value="DATA-PARAMETRO" />
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12 text-right m-b">
            <button type="button" class="btn btn-default" id="btnModalClose" data-dismiss="modal">
                <span class="fa fa-ban"></span>
                Close
            </button>
            <button type="button" class="btn btn-primary" id="btnModalSave">
                <span class="fa fa-plus"></span> 
                Add Item
            </button>
            <hr class="modal_hr">
        </div>
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-hover table-bordered table-vertical" id="tbl_search">
                        <thead>
                            <tr>
                                <th width="3%"></th>
                                <th>Year</th>
                                <th>Client Style Number</th>
                                <th>Style Description</th>
                                <th>WTS Fabric Code</th>
                                <th>Fabric Description</th>
                                <th>Available Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="i-check-style" type="checkbox" name="style_search">
                                </td>
                                <td>2019</td>
                                <td>Fall 20 Style</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>000002568-01</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="i-check-style" type="checkbox" name="style_search">
                                </td>
                                <td>2019</td>
                                <td>Fall 20 Style</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>000002568-01</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="i-check-style" type="checkbox" name="style_search">
                                </td>
                                <td>2019</td>
                                <td>Fall 20 Style</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>000002568-01</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="i-check-style" type="checkbox" name="style_search">
                                </td>
                                <td>2019</td>
                                <td>Fall 20 Style</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>000002568-01</td>
                                <td>Knit, Jersey, 40/1 De - 30/1 Ne, 140gr AW, 50% Cotton - 50% Spandex</td>
                                <td>12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
