<div id="panelEncabezado_SearchStyle">
    <div class="hide">
        <input type="text" id="searchstyle_txtpar" value="DATA-PARAMETRO" />
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12 m-b">
            <div class="text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="fa fa-reply-all"></span>
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="btnSearchStyleCopy">
                    <span class="fa fa-copy"></span>
                    Copy
                </button>
            </div>
            <hr />
        </div>
    </div>
    <div class="form-horizontal row">
        <div class="col-sm-12">
            <table class="table table-hover table-bordered table-vertical dataTable no-footer" id="tbl_style_copy">
                <thead>
                    <tr>
                        <th width="5%" data-search="false"></th>
                        <th>Client Style Number</th>
                        <th>WTS Fabric Code</th>
                        <th>Supplier Name</th>
                        <th>Program Name</th>
                        <th>Client</th>
                        <th>Brand</th>
                        <th>Season</th>
                        <th>Division</th>
                    </tr>
                </thead>
                <tbody id="tbody_tbl_style_copy"></tbody>
            </table>
        </div>
    </div>
</div>