<!DOCTYPE html>
<html class="md device-pixel-ratio-1 device-desktop support-position-sticky">
<head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#2196f3">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>My App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/3.3.2/css/framework7.min.css">
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/framework7-icons">

    <style>
        /* Left Panel right border when it is visible by breakpoint */
        .panel-left.panel-visible-by-breakpoint:before {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: rgba(0,0,0,0.1);
            content: '';
            z-index: 6000;
        }

        /* Hide navbar link which opens left panel when it is visible by breakpoint */
        .panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
            display: none;
        }

        /*
          Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
        */
        .ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
        .ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: rgba(0,0,0,0.1);
            content: '';
            z-index: 6000;
        }
    </style>

    <script></script>
</head>
<body>
    <div id="appRechazo" class="framework7-root">
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar"></div>
        <!-- Left panel with cover effect-->
        <div class="panel-backdrop"></div><div class="panel panel-left panel-cover theme-dark">
            <div class="view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Left Panel</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="block">Left panel content goes here</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right panel with reveal effect-->
        <div class="panel panel-right panel-reveal theme-dark">
            <div class="view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Right Panel</div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="block">Right panel content goes here</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main ios-edges">
            <!-- Page, data-name contains page name which can be used in callbacks -->
            <div class="page page-current" data-name="form">
                <!-- Top Navbar -->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="title sliding" id="tituloapp">Rechazar</div>
                    </div>
                </div>
                <!-- Toolbar-->
                <!-- Scrollable page content-->

                <div class="page-content">
                    <div class="list no-hairlines-md">
                        <ul>
                            <li class="align-top">
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Observación:</div>
                                        <div class="item-input-wrap">
                                            <textarea placeholder="Observacion" class="" id="observacion"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Contraseña</div>
                                        <div class="item-input-wrap">
                                            <input type="password" placeholder="Password" class="password" id="password">
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="block block-strong">
                        <p class="row">
                            <button class="col button button-round button-fill" type="button" id="btnSave" onclick="javascript:ConfirmarPassword()">Enviar</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="display:none">
        @Html.Hidden("urlBase", Url.Content("~/"))
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/framework7/3.3.2/js/framework7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.28.2/dist/sweetalert2.all.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>-->
    <script src="~/Scripts/TecnologiaInformacion/Aprobacion/ValidacionPasswordRechazo.js"></script>
</body>
</html>