<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-6">
                <h2>Po Marmaxx - Freight</h2>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Client</label>
                                <div class="col-sm-8">
                                    <input class="form-control"  value="Marmaxx" readonly/>
                                    @*<select class="form-control" id="cboFabrica">
                                        <option value="">All</option>
                                    </select>*@
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Season</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="cboSeason">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button type="button" class="btn btn-primary" id="btnSearch">
                        <span class="fa fa-search"></span>
                        Search
                    </button>
                    <button type="button" class="btn btn-success" id="btnSave">                        
                        Update Freight
                    </button>
                    <button type="button" class="btn btn-success" id="btnExportar">
                        Export
                    </button>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Details</h5>
            </div>
            <div id="divContentTBL" class="ibox-content" style="position:relative; width:100%;">

            </div>
        </div>
    </div>

</div>
<div id="hdtable" style="display:none;">

</div>

<script src="~/Scripts/js/plugins/dataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/js/plugins/dataTables/dataTables.buttons.min.js"></script>


