<style type="text/css">

    #panelEncabezado_Campo .ibox {
        clear: both;
        margin-bottom: 5px !important;
        margin-top: 0;
        padding: 0;
    }

    #panelEncabezado_Campo .ibox-content {
        color: inherit;
        padding: 5px 20px 5px 10px !important;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 30% 10% 60%;
        grid-gap: 10px;
     
    }
</style>

<div class="row wrapper-content gray-bg animated" id="panelPopup_videoflashA" style="width:99%;margin:0px">

    <div class="ibox">
        <div class="hide">
            <input type="text" id="valorParams" value="DATA-PARAMETRO" />
        </div>
        <div class="form-horizontal row">
            <div class="form-group text-right" style="width:100%;">
                <button id="btncloseTutorial" type="button" class="btn ">
                    Close
                </button>
            </div>
        </div>
        <div class="ibox-content" id="div_contenidoCampo">
            <div class="form-group">
                <div class="form-horizontal row">
                    <div class="col-sm-12 table-responsive" id="divTablaDetalle">
                        <iframe id="videoflashA" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
