<div class="ibox" id="panelencabezado_seleccionarcodigotelawts">
    <div class="ibox-title">
        <div class="ibox-tools">
            <button id="_btnAceptar_seleccionarcodigotelawts" href="javascript:void(0)" class="btn btn-primary">
                <span class="fa fa-check-circle"></span>
                Accept
            </button>
            <button id="_btnCancelar_seleccionarcodigotelawts" href="javascript:void(0)" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>

    <div class="" style="overflow-y: auto; max-height: 850px;">
        <div class="hide">
            <input type="text" id="txtpar_seleccionarcodigotelawts" value="DATA-PARAMETRO" />
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div id="div_tbl_buscartela" style="max-height:400px; overflow-y:auto;" class="table-responsive">
                        <table class="table table-bordered table-hover" id="_tbl_seleccionarcodigotelawts">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center col-sm-2">
                                        Fabric Code
                                    </th>
                                    <th class="text-center col-sm-10">
                                        Fabric
                                    </th>
                                    <th class="text-center col-sm-10">
                                        Stock
                                    </th>
                                    <th class="text-center col-sm-10">
                                        Ultimo Solicitante
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbody_seleccionarcodigotelawts"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>