<div class="float-e-margins" id="panelEncabezado_verfotocolgador">
    <div class="">
        <div class="text-right">
            <button id="_btnCancelar" class="btn btn-default" data-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>
    <div class="" style="overflow-y: auto; max-height: 850px;">
        <div class="hide">
            <input type="text" id="txtpar_verfotocolgador" value="DATA-PARAMETRO" />
        </div>
        <div class="float-e-margins">
            <div class="">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <img id="img_foto_colgador_preview" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>