<div id="panel_Solicitud_Pedido_Index">
    <div class="hide">
        <input type="text" id="" value="DATA-PARAMETRO" />
    </div>

    <div class="row wrapper white-bg page-heading">
        <div class="ibox">
            <div id="div_titulo_principal" class="col-sm-6">
                <h2 class="font-bold">Solicitud de Pedido</h2>
                <ol class="breadcrumb">
                    <li> <i class="fa fa-home"></i></li>
                    <li class="breadcrumb-item">
                        Logistica
                    </li>
                    <li class="breadcrumb-item">
                        Solicitud Pedido
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Inicio</strong>
                    </li>
                </ol>
            </div>
            <div id="div_botones_principal" class="col-sm-6 text-right m-t-md">
                <button id="btn_guardar" title="Nuevo" type="button" class="btn btn-outline btn-success">
                    <span class="fa fa-plus"></span>
                    Nuevo
                </button>
            </div>
        </div>
    </div>


</div>

