<style>
    /***** CHART CANTIDAD TOTAL MENSUAL *****/
    #chartdiv_cantidad_total_pruebas_mensual {
        width: 100%;
        height: 500px;
        float: left;
    }

        /*  */
        #chartdiv_cantidad_total_pruebas_mensual .amcharts-axis-label {
            cursor: pointer;
        }

    /*#chartdiv_cantidad_total_pruebas_mensual .amcharts-graph-column {
        cursor: pointer;
    }*/

    /* CHART CANTIDAD POR PEUAB DE ULTIMO MES */

    #chartdiv_cantidad_pruebas_paqueteprueba_mes {
        width: 100%;
        height: 500px;
        float: left;
    }


    #legenddiv {
        width: 500px;
        height: 500px;
        font-size: 11px;
        /*border: 2px dotted #ccc;*/
        float: right;
    }

</style>
<div id="pnl_dashboard_initial">

    <div id="pnl_dashboard_initial_header" class="row wrapper white-bg page-heading">
        <div class="ibox">
            <div class="col-sm-6">
                <h2 class="font-bold">DashBoard</h2>
            </div>
            <div class="col-sm-6 text-right">

            </div>
        </div>
    </div>

    <div id="pnl_dashboard_initial_body" class="row wrapper-content gray-bg animated">
       
         <div class="row">

            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            @*<a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>*@
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="form-horizontal row">
                                <div class="col-sm-12">
                                    <div id="chartdiv_cantidad_total_pruebas_mensual"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

             <div class="col-lg-6">
                 <div class="ibox">
                     <div class="ibox-title">
                         <div class="ibox-tools">
                             <a class="collapse-link">
                                 <i class="fa fa-chevron-up"></i>
                             </a>
                             <a class="fullscreen-link">
                                 <i class="fa fa-expand"></i>
                             </a>
                         </div>
                     </div>
                     <div class="ibox-content">
                         <div class="form-group">
                             <div class="form-horizontal row">
                                 <div class="col-sm-12">
                                     <div id="chartdiv_cantidad_pruebas_paqueteprueba_mes"></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>

        </div>
    </div>




</div>

