<div id="pnl_ticket_asignar" class="ibox float-e-margins">

    <div class="hide">
        <input type="text" id="txtpar_ticket_asignar" value="DATA-PARAMETRO" />
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <div class="form-horizontal row">
                <div class="col-sm-12 text-right">
                    <button id="btn_guardar_responsable" class="btn btn-outline btn-primary">
                        <span class="fa fa-save"></span>
                        Guardar
                    </button>
                    <button id="btn_retornar" class="btn btn-default" data-dismiss="modal">
                        <span class="fa fa-reply-all"></span>
                        Regresar
                    </button>
                </div>
            </div>
        </div>

        <div class="ibox-content">

            <div class="form-horizontal row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Responsable:</label>
                        <div class="col-sm-9 _cbo">
                            <select id="cbo_responsable" class="form-control _select2 _enty" data-id="idresponsable" data-required="true" style="width:100%"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Sub Responsable:</label>
                        <div class="col-sm-9 _cbo">
                            <select id="cbo_sub_responsable" class="form-control _select2" data-id="idsubresponsable" data-required="true" style="width:100%"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="col-sm-12 _cbo">
                            <button id="btn_agregar" type="button" class="btn btn-outline btn-primary">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="form-horizontal row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <table id="tbl_temp_subresponsable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-sm-2"></th>
                                    <th class="col-sm-10">Sub Responsable</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



